<!DOCTYPE html>
<html vlang="en-US" ng-app="NetFloristAppSystem" >
    <head>
        <title>home</title>
        <script src="./js/angular.js"></script>
        <script type="text/javascript" src="./js/angular-route.min.js"></script>
	<script src="./js/netflorist.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/netflorist.css" />
        <link rel="stylesheet" type="text/css" href="./css/netfloriststyle.css" />
        <script>
            $(document).ready(function(){
                $("#myBtn").click(function(){
                    $("#myModal").modal();
                });
            });
        </script>
    </head>
   
    <body ng-controller="ForgotPasswordController">
        
        <img src="./css/logo.png" style="width:150;height:50;" />
         <img src="./css/regbar1.jpg"/>   
        <p style="float: right">Need Help? Contact us <strong>08361300600</strong></p>
        
        <div class="container">
            <div id="container_imp">
                <a class="hiddenanchor" id="tohome"></a>
                <div id="wrapper">
                    <form class="home" autocomplete="on"> 
                       
                        <img src="./css/forgotpass.jpg" style="width:150;height:50; " />
                         <div style="letter-spacing:4px;" > 
                            <p> 
                                <label for="username" class="uname" data-icon="u" > Enter Your email Address: </label>
                                <input id="username" name="username" ng-model="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                            </p> 
                            <p class="login button"> 
                                <input type="submit" ng-click="forgotPassword()" value="Continue" /> 
                            </p>
                             <p>
                              Don't have an account ?
				<a href="register.html" class="register">Register!</a>
                              </p>
                         </div>
                    </form> 
                </div>
            </div>   
      </div>  
    </body>
</html>

